* {
    font-family: 'Quattrocento Sans', sans-serif;
}

:root {
    --black: black;
    --yellow: #ffc709;
    --white: white;
}

::selection {
    color: var(--black);
    background-color: var(--yellow);
  }

.custom-navbar {
    background-color: var(--yellow);
}

.custom-navbar a {
    color: var(--black);
    font-size: 3vh;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

.icon {
    height: 5vh;
    background-color: #ffc709;
    color: black;
    border-radius: 50%;
}

#header {
    font-weight: bolder;
    padding-top: 8vh;
    padding-bottom: -2vh;
}

#header2 {
    font-size: 15vh;
    padding-top: -2vh;
}

.container {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.col-sm {
    padding: 4vh;
    font-size: 3vh;
}


.col {
    border: black solid .5vh;
    background-color: #ffc709;
    padding: 2vh;
}

.header3 {
    font-size: 7vh;
}


.col1 {
    background-color: white;
    padding: 1px;
    border: none;
    margin: none;
}

.card {
    background-color: white;
    width: 50vh;
    height: 75vh;
    
}

.unit-card {
    padding-left: 5vh;
}
